@using ship_battle.Data
<h1>ShipBattle
</h1>

<dif class="game">
    <div class="game-board-status-panel"></div>
    <div class="game-board-grid">

        @for (int col = 0; col < 10 ; col++)
        {
            @for (int row = 0; row < 10; row++)
            {
                var temp_col = col+1;
                var temp_row = row+1;

                <div class="game-board-square" style="--origin-col: @temp_col; --origin-row: @temp_row"
                @onclick="@(e => SquareClick(e, temp_col-1, temp_row-1))">
                </div>
            }

        }
        @foreach (Ship ship in playerBoard1.Ships)
        {   if (ship.IsSunk())
            {
                continue;
            }
            <div class="ship @ship.Name().ToLower()" style="--origin-col: @ship.OriginCol1Based;
            --origin-row: @ship.OriginRow1Based; --end-col: @ship.EndCol1Based; --end-row: @ship.EndRow1Based"></div>
        }

        @for (int col = 0; col < 10; col++)
        {
            @for (int row = 0; row < 10; row++)
            {
                string square_name = PlayerBoard.GetSquareTypeName(playerBoard1.HitRecord[col, row]).ToLower();
                var temp_col = col + 1;
                var temp_row = row + 1;
                if (square_name == "hit" || square_name == "miss")
                {
                    <div class="game-board-square @square_name" style="--origin-col: @temp_col; --origin-row: @temp_row"></div>
                }
                if (square_name == "hit")
                {
                    <div class="game-board-square hit-circle" style="--origin-col: @temp_col; --origin-row: @temp_row"></div>
                }
            }

        }

    </div>
</dif>


@code {

    PlayerBoard playerBoard1 = new PlayerBoard(1);
    protected override void OnInitialized()
    {

        Random autoRand = new Random();
        int autoRandInt1 = autoRand.Next();
        int autoRandInt2 = autoRand.Next();
        Console.WriteLine(autoRandInt1);
        Console.WriteLine(autoRandInt2);
        playerBoard1.Populate(autoRandInt1, autoRandInt2);

    }

    public void SquareClick(MouseEventArgs eventArgs, int col, int row)
    {
        Console.WriteLine("CLICK: " + "col: " + col + " row: " + row);
        PlayerBoard.SquareType tempSquareType = playerBoard1.Hit(col, row);

        if (tempSquareType == PlayerBoard.SquareType.NewHit)
        {
            Console.WriteLine("HIT");
            Ship tempShip = playerBoard1.GetShip(col, row);
            Console.WriteLine(tempShip.Name() + (tempShip.IsSunk() ? " SUNK" : ""));
        }
        if (tempSquareType == PlayerBoard.SquareType.NewMiss)
        {
            Console.WriteLine("MISS");
        }
        if (tempSquareType != PlayerBoard.SquareType.NewMiss
            && tempSquareType != PlayerBoard.SquareType.NewHit)
        {
            Console.WriteLine("You can not hit the same place twice!");
        }

    }
}
