@using ShipBattle.Data
@page "/"
<dif class="game">
<div class="header"><h3>ShipBattle</h3></div>
    <div class="header"><h3>TEST</h3></div>
<div class="game-board-grid">
@for (int col = 0; col < 10; col++)
{
    <div class="game-board-row">
    @for (int row = 0; row < 10; row++)
    {
        var temp_col = col;
        var temp_row = row;

        <div class="game-board-square" @onclick="@(e => SquareClick(e, temp_col, temp_row))">
        </div>
    }
    </div>

    }

        @foreach (Ship ship in playerBoard1.Ships)
        {
            <div class="ship @ship.Name().ToLower()" style="--coorx: @ship.CssOriginCol();
            --coory: @ship.CssOriginRow(); --rotate: @ship.CssRotate()"></div>
        }

</div>
</dif>

@code {
    PlayerBoard playerBoard1 = new PlayerBoard(1);
    protected override void OnInitialized()
    {
        playerBoard1.AddShip(new Ship(Ship.ShipType.Carrier, 0, 0, false));
        playerBoard1.AddShip(new Ship(Ship.ShipType.Battleship, 2, 2, true));
        playerBoard1.AddShip(new Ship(Ship.ShipType.Cruiser, 4, 4, false));
        playerBoard1.AddShip(new Ship(Ship.ShipType.Submarine, 6, 6, false));
        playerBoard1.AddShip(new Ship(Ship.ShipType.Destroyer, 8, 8, true));
    }

    public void SquareClick(MouseEventArgs eventArgs, int col, int row)
    {
        Console.WriteLine("CLICK: " + "col: " + col + " row: " + row);
        PlayerBoard.SquareType tempSquareType = playerBoard1.Hit(col, row);
        if (tempSquareType == PlayerBoard.SquareType.NewHit)
        {
            Console.WriteLine("HIT");
            Ship tempShip = playerBoard1.getShip(col, row);
            Console.WriteLine(tempShip.Name() + (tempShip.IsSunk() ? " SUNK" : ""));
        }
        if (tempSquareType == PlayerBoard.SquareType.NewMiss)
        {
            Console.WriteLine("MISS");
        }
        if (tempSquareType != PlayerBoard.SquareType.NewMiss
            && tempSquareType != PlayerBoard.SquareType.NewHit)
        {
            Console.WriteLine("You can not hit the same place twice!");
        }

    }
}
